@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  html,
  body {
    @apply h-full m-0 p-0 overflow-x-hidden;
    background-color: #020617;
    /* bg-slate-950 */
  }

  body {
    @apply text-brand-dark antialiased font-sans;
  }
}